@font-face {
  font-family: nickainley;
  src: Nickainley-Normal.otf;
}

body{
  background-color: #ffffff;
  font-family: nickainley;
}
.navbar {
  background-color: transparent !important;
  outline-color: #000000;
}
.navbar form button {
  color: #ba4d2f;
  border-color: #ba4d2f;
}
.btn-outline{
  color: #ba4d2f;
}
.navbar form button:hover{
  background-color: #ba4d2f;
  color: #ffffff;
  border-color: #ba4d2f;
}
.navbar form button:active{
  background-color: transparent !important;
  color: #ba4d2f;
  border-color: #fff;
}
.dropdown-menu{
  background-color: #ba4d2f;
}
.dropdown-item{
  color: #ffffff;
}
.navbar .navbar-nav{
  font-size: 20px;
}
.navbar .nav-item a:hover{
  color: #ba4d2f !important;
}
.jumbotron{
  background-color: #ffffff;
  text-align: center;
}
.jumbotron .btn{
  background-color: #ba4d2f;
  color: #ffffff;
  border-color: #ba4d2f;
}

.jumbotron .btn:hover{
  background-color: transparent;
  color: #ba4d2f;
  border-color: #ba4d2f;
}
.jumbotron .btn: active{
  background-color: #ba4d2f;
  color: #ffffff;
  border-color: #ba4d2f;
}
h2 {
  text-align: center;
  padding: 35px;
}
.card{
  align-items: center;
  margin: 50px;
}
.card .btn{
  background-color: #ba4d2f;
  color: #ffffff;
  border-color: #ba4d2f;
}
.card .btn:hover{
  background-color: transparent;
  color: #ba4d2f;
  border-color: #ba4d2f;
}
.footer{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 150px;
  width: 100%;
  padding: 100px 15%;
  background: #ba4d2f;
  color: #ffffff;
  display: flex;
}
.footer div{
  text-align: inherit;
}
.col-2{
  flex-grow: 2;
  align: center !important;
}
.footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
}
form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}
.footer button{
  background-color: transparent !important;
  color: #fff;
  padding: 10px 30px;
  font-size: 15px;
  border-color: #fff;
  cursor: pointer;
}
.jumbotron h1{
  color: #ba4d2f;
  margin-bottom: 40px;
  margin-top: 0;
  padding-top: 0;
}
.jumbotron p{
  color: #808080;
}
.title{
  text-align: center;
  color: #ba4d2f;
  margin-top: 40px;
  padding: 0;
  margin-bottom: 0;
  font-size: 65px;
}
.extra-info{
  color: #808080;
  text-align: center;
  margin-bottom: 40px;
  padding: 0;
  margin-top: 0;
}
.linkn{
  text-align: left;
  margin-bottom: 20px;
  margin-top: 100px;
  margin-left: 30px;
}
.social-icons {
  padding: 20px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  align-items: center;
  margin-left: 500px;
  margin-right: 50px;
  display: inline;
}
.fa-brands{
  color: #1B1212;
  margin: 30px;
  margin-top: 40px;
  align: center;
}
.fa-brands:hover{
  color: #808080;
}
.all{
  margin-top: 10px;
}
.title{
  color: #ba4d2f;
  margin-left: 30px;
  margin-top: 40px;
  font-size: 40px;
  text-align: left;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ba4d2f;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #808080;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-content button{
  background-color: transparent !important;
  color: #fff;
  padding: 10px 30px;
  font-size: 15px;
  border-color: #fff;
  cursor: pointer;
}
.footer-content button:hover{
  background-color: #fff !important;
  color: #ba4d2f;
  padding: 10px 30px;
  font-size: 15px;
  border-color: #ba4d2f;
  cursor: pointer;
}
.footer-content button:active{
  background-color: #ba4d2f !important;
  color: #fff;
  padding: 10px 30px;
  font-size: 15px;
  border-color: #fff;
  cursor: pointer;
}
